td.mapsector-determining{
    height: 100%;
    width: 390px;
    border: 1px dashed gray;
    border-bottom: none;
    border-top: none;
    background-color: #fcf8e3;
}
td.mapsector-done{
    height: 100%;
    width: 390px;
    border: 1px dashed gray;
    border-bottom: none;
    border-top: none;
    background-color: #dff0d8;
}
td.mapsector-performing{
    height: 590px;
    width: 390px;
    border: 1px dashed gray;
    border-bottom: none;
    border-top: none;
    background-color: #d9edf7;
}
.map-container{

}
ul.duty-list{
    list-style-type: none;
}
div.Determining{
    text-align: center;
    width: 90px;
    height: 45px;
    border: 1px solid black;
    border-radius: 4px;
}
div.Performs{
    text-align: center;
    width: 90px;
    height: 45px;
    border: 1px solid black;
    border-radius: 4px;
}
div.Done{
    text-align: center;
    width: 90px;
    height: 45px;
    border: 1px solid black;
    border-radius: 4px;
}